body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    border: 20px solid #bdc3c7;
    padding-left: 10px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.date {
    text-align: left;
    color: #3498db;
}

h2 {
    color: #2c3e50;
    text-align: left;
}

p {
    text-align: left;
    font-size: 110%;
    
}

.first {
    border-left: 6px solid #bdc3c7;
    padding: 3px;
}

#firstDiv {
    border-bottom: 2px solid #bdc3c7;
    border-bottom-width: 70%;
}